In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving carprices.csv to carprices.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['carprices.csv']))
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [5]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [11]:
df_dummies = pd.concat([df,dummies],axis='columns')
df_dummies

                Car Model  Mileage  ...  BMW X5  Mercedez Benz C class
0                  BMW X5    69000  ...       1                      0
1                  BMW X5    35000  ...       1                      0
2                  BMW X5    57000  ...       1                      0
3                  BMW X5    22500  ...       1                      0
4                  BMW X5    46000  ...       1                      0
5                 Audi A5    59000  ...       0                      0
6                 Audi A5    52000  ...       0                      0
7                 Audi A5    72000  ...       0                      0
8                 Audi A5    91000  ...       0                      0
9   Mercedez Benz C class    67000  ...       0                      1
10  Mercedez Benz C class    83000  ...       0                      1
11  Mercedez Benz C class    79000  ...       0                      1
12  Mercedez Benz C class    59000  ...       0                      1

[13 rows x 7 columns]

In [12]:
y = df_dummies['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [13]:
df_dummies.drop(['Car Model','Sell Price($)'],axis='columns',inplace=True)
df_dummies

    Mileage  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000         6        0       1                      0
1     35000         3        0       1                      0
2     57000         5        0       1                      0
3     22500         2        0       1                      0
4     46000         4        0       1                      0
5     59000         5        1       0                      0
6     52000         5        1       0                      0
7     72000         6        1       0                      0
8     91000         8        1       0                      0
9     67000         6        0       0                      1
10    83000         7        0       0                      1
11    79000         7        0       0                      1
12    59000         5        0       0                      1

In [14]:
X=df_dummies
X

    Mileage  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000         6        0       1                      0
1     35000         3        0       1                      0
2     57000         5        0       1                      0
3     22500         2        0       1                      0
4     46000         4        0       1                      0
5     59000         5        1       0                      0
6     52000         5        1       0                      0
7     72000         6        1       0                      0
8     91000         8        1       0                      0
9     67000         6        0       0                      1
10    83000         7        0       0                      1
11    79000         7        0       0                      1
12    59000         5        0       0                      1

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
model.score(X,y)

0.9417050937281083

In [17]:
model.predict([[45000,4,0,0,1]])

array([36991.31721061])

In [18]:
model.predict([[86000,7,0,1,0]])

array([11080.74313219])